<ion-header>
  <ion-toolbar color="colorfondo" >

    <ion-buttons slot="start">
      <ion-back-button 
        defaultHref="/"
        text="Back"
        color="primary"
        mode="ios"></ion-back-button>
    </ion-buttons>

    <div class="titulo" >
      <ion-title class="ion-text-center" >DESCRIPCION</ion-title>
    </div>

    <ion-buttons  slot="end">
      <ion-avatar>
        <ion-img src="/assets/icon/icono_tierra.png"></ion-img>
      </ion-avatar>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <ion-card>
    <div class="ion-text-center">
      <h3 class="titulo">Food´s Impact</h3>
    </div>
    <ion-card-header>
      <img src="assets/img/mitad.png">
    </ion-card-header>
    <ion-card-content>
      En el año 2018, un estudio publicado en Science  presentaba las claves para “reducir los impactos ambientales de los alimentos a través de productores y consumidores”.El trabajo revela cómo los productos animales, como la carne, los lácteos y el pescado de piscifactoría, son los alimentos que generan más emisiones contaminantes al medio ambiente.
      <br><br>
      <ion-button expand="full" fill="outline" href="https://www.science.org/doi/10.1126/science.aaq0216" target="_blank">Ver Estudio</ion-button>
    </ion-card-content>
      

      <ion-card-header>
        <img src="assets/img/dibujo.png">
      </ion-card-header>
      <ion-card-content>
        Con la informacion de este estudio, te atorgaremos de manera practica un listado de de los alimentos que debes reducir su consumo para ayudar salvaguardar el medioambiente
        <br><br>
        <ion-button expand="full" fill="outline" href="https://www.eulixe.com/articulo/infografia-del-dia/alimentos-tienen-mayor-impacto-ambiental/20201123125743021580.html" target="_blank">ver datos y comparaciones </ion-button>
      </ion-card-content>
        <br><br>
  </ion-card>








</ion-content>
