.titulo{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    color: rgb(50, 129, 129);
    font-size: 42px;
}

.titulo_card{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    color: rgb(50, 129, 129);
    font-size: 30px;
}

ion-toolbar{
    background-color: var(--ion-color-colorfondo);
}